	* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: "Cantarell", "sans-serif";
	font-size: 95%;
}

/* LIENS */
a {
	color: #0062BE;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}
	a.delete {
		display: inline-block;
		height: 25px;
		width: 25px;
		text-align: center;
		line-height: 25px;
		background: #eee;
		border: 1px solid #aaa;
		border-radius: 50px;
		color: #666;
		font-weight: bold;
	}
		a.delete:hover {
			background: #fff;
			text-decoration: none;
		}

/* LISTES */
ul, ol {
	margin: 10px 0 10px 30px;
	line-height: 190%;
}

/* TITRES */
h1, h2, h3 {
	min-height: 40px;
	padding: 10px 0 0;
	line-height: 40px;
}

/* IMG */
img {
	max-width: 100%;
	vertical-align: middle;
}
	a img {
		border: none;
	}

/* FORMULAIRES */
form {
	width: 450px;
	max-width: 100%;
	margin: 20px auto;
	padding: 20px;
	background: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 3px #aaa;
}
	label {
		display: block;
		margin: 20px 0 0;
		padding: 0 20px 0 0;
		font-weight: bold;
	}
	input:focus, textarea:focus {
		color: #3366cc !important;
		border: 1px solid #3366cc !important;
	}
	input[type="text"], input[type="url"], input[type="email"], input[type="number"], input[type="date"], textarea {
		display: block;
		height: 30px;
		width: 430px;
		max-width: 95%;
		margin: 5px 0 5px;
		padding: 5px 10px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 90%;
	}
		textarea {
			min-height: 150px;
			font-size: 110%;
			line-height: 150%;
			font-family: Monospace;
		}
		select.multi {
			min-height: 150px;
			padding: 0;
		}
			select.multi option {
				padding: 3px 5px;
			}
	input[type="submit"], button {
		display: block;
		height: 40px;
		width: 100%;
		margin: 5px 0 5px;
		padding: 5px 0;
	}
	select {
		width: 100%;
		padding: 5px;
	}
	.radio_group, .checkbox_group {
		line-height: 35px;
	}
		.radio_group label, .checkbox_group label {
			display: inline-block;
			margin: 0;
			padding: 0 0 0 5px;
			font-weight: normal;
		}

/* STRUCTURE */
#global {
	display: table;
	width: 100%;
	height: 100%;
}
	.aside {
		display: table-cell;
		height: 100%;
		width: 250px;
		vertical-align: top;
		border-right: 1px solid #aaa;
		background: #fff;
	}
		.aside.large {
			width: 500px;
		}
		.aside ul {
			margin: 0;
			list-style: none;
		}
			.aside li {
				width: 100%;
				height: 50px;
				overflow: hidden;
				line-height: 50px;
			}
				.aside li > a, .aside li > span {
					display: block;
					width: 90%;
					height: 50px;
					padding: 0 5%;
				}
					.aside li > a:hover, .aside li > span:hover {
						text-decoration: none;
						background: #fafafa;
					}
					.aside li.disable > span {
						background: #fff;
					}
					.aside li > a > span, .aside li > span > span {
						float: right;
						padding: 0 5px;
						font-size: 80%;
					}
				.aside li.active > a {
					background: #0062BE;
					color: #fff;
				}
				.aside li.disable > span {
					background: #fafafa;
					color: #aaa;
				}
				.aside li > h2 {
					height: 50px;
					padding: 0;
					text-align: center;
					background: #eee;
					line-height: 50px;
					color: #666;
					font-size: 120%;
				}
				
		.aside form#addTaskMenu {
			display: table;
			width: 250px;
			margin: 0;
			padding: 0;
			background: #f0f0f0;
			border: none;
			border-bottom: 1px solid #aaa;
			border-radius: 0;
			box-shadow: none;
		}
			.aside form#addTaskMenu input {
				display: inline-block;
				height: 48px;
				line-height: 48px;
			}
				.aside form#addTaskMenu input[type="text"] {
					width: 200px;
					margin: 0;
					padding: 0;
					border: none !important;
					border-radius: 0;
				}
				.aside form#addTaskMenu input[type="submit"] {
					width: 50px;
					margin: 0;
					padding: 0;
					border: none;
					border-radius: 0;
				}
		.aside form#options {
			width: 230px;
			margin: 0;
			padding: 20px 10px;
			background: #fff;
			border: none;
			border-top: 1px solid #aaa;
			border-radius: 0;
			box-shadow: none;
		}
			.aside form#options h2 {
				padding: 0;
				text-align: center;
			}
			.aside form#options input[type="date"] {
				width: 100%;
				padding: 0 5px;
			}
	#main {
		display: table-cell;
		height: 100%;
		line-height: 180%;
		background: #fafafa;
		vertical-align: top;
	}
		#main .table {
			display: table;
			width: 100%;
			height: 100%;
		}
			#main .table .content_table {
				width: 450px;
				margin: 30px auto;
				padding: 0 10px;
			}
				#main .table .content_table a.button {
					display: inline-block;
					width: 200px;
					min-height: 50px;
					margin: 20px 0 0;
					background: #eee;
					text-align: center;
					line-height: 50px;
					border: 1px solid #ddd;
					border-right: none;
					border-radius: 5px 0 0 5px;
					vertical-align: middle;
				}
					#main .table .content_table a.button+a.button {
						border-right: 1px solid #ddd;
						border-left: none;
						border-radius: 0 5px 5px 0;
					}
					#main .table .content_table a.button:hover {
						background: #fff;
						text-decoration: none;
					}
		#main .nothing {
			display: table-cell;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			text-align: center;
		}

/*** TASKS ***/
li.today > a {
	background: #f6f6f6;
}
li.event > a, li.event > span {
	background-image: url("img/event.png") !important;
	background-position: 5px center !important;
	background-repeat: no-repeat !important;
	
}
li.reminder > a, li.reminder > span {
	background-image: url("img/reminder.png") !important;
	background-position: 5px center !important;
	background-repeat: no-repeat !important;
}
li.delay > a {
	background-color: #fdd;
}
	li.delay > a:hover {
		background-color: #ffd0d0;
	}

/*** PAGINATION ***/
a.pager-previous, a.pager-next {
	display: inline-block;
	width: 50%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
	a.pager-next {
		float: right;
	}
a#load_more {
	display: block;
	width: 100%;
	height: 50px;
	background: #eee;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}
	a#load_more.disable {
		text-decoration: none !important;
		color: #666;
		cursor: default;
	}


@media(max-width: 840px) {
	#main_aside {
		display: none;
	}
}
